@font-face{
    font-family: 'mukul_sign';
    src: url('../../Assets/Fonts/Photograph\ Signature.ttf');
    font-weight: 400;
}
.sign{
    font-family: mukul_sign;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 100px;
    font-weight: 500;
}