.HomeNav{
    padding: 5% 20%;
    height: auto;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;

    & div{
        cursor: pointer;
        font-weight: bolder;
        font-size: 25px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.8);
        transition: 0.4s ease-out;
        & h3{
            margin: 0;
            padding: 0 3px;
            float: left;
            position: relative;
            text-transform: uppercase;
            overflow: hidden;
            letter-spacing: 3px;
        }
    }
    & div::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #393e46, $alpha: 0.3);
        transform: translateX(-100%);
        transition: 0.5s ease-in;
    }
    & div:hover::before{
        transform: translateX(0);
    }
    & div:hover{
        color: white;
        transform: scale(1);
    }
    & .photos{
        // background-image: url('../../Assets/img.JPG');
        background-color: black;
        height: 100%;
        color: white;
    }
    & .videos{
        // background-image: url('../../Assets/img.JPG');
        background-color: black;
        height: 100%;
        color: white;
    }
    & .insta{
        // background-image: url('../../Assets/img.JPG');
        background-color: black;
        color: white;
        height: 100%;
    }
    & .youtube{
        // background-image: url('../../Assets/img.JPG');
        background-color: black;
        color: white;
        height: 100%;
    }
}

@media screen and (max-width: '800px'){
    .HomeNav{
        display: flex;
        flex-direction: column;
        & div{
            margin-top: 10%;
            padding: 50px 1px;
        }
    }
}